@font-face {
    font-family: 'SUIT Variable';
    src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}